**Дз 1**

In [38]:
from datetime import datetime
import pandas as pd

first = datetime.strptime("Wednesday, October 2, 2002", '%A, %B %d, %Y')
print(first, type(first))

second = datetime.strptime("Friday, 11.10.13", '%A, %d.%m.%y')
print(second, type(second))

third = datetime.strptime("Thursday, 18 August 1977", '%A, %d %B %Y')
print(third, type(third))

2002-10-02 00:00:00 <class 'datetime.datetime'>
2013-10-11 00:00:00 <class 'datetime.datetime'>
1977-08-18 00:00:00 <class 'datetime.datetime'>

**Дз 2**

In [55]:
def date_range(start, end):
  try:
    start = datetime.strptime(start, '%Y-%m-%d')
    end = datetime.strptime(end, '%Y-%m-%d')

    range = pd.date_range(start=start, end=end, freq='D')
    result = [date.strftime('%Y-%m-%d') for date in range]
  except ValueError:
    result = []
  finally:
    print(result)

date_range("2022-02-30", "2022-02-31")

[]